html {
	box-sizing: border-box;
	overflow-x: hidden;
	background: $linear-bg-light;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: $myFont;
	color: $color-maincolors-dark-1;
}

p {
	color: $color-maincolors-dark-1;
	font-size: 1.5rem;
}

.container {
	width: 90%;
	height: 100%;
	margin: 0 auto;

	@include tablet {
		width: 704px;
	}

	@include desktop {
		width: 896px;
	}
}

.container-projects {
	width: 95%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: unset;
	width: 100%;
}

img,
picture {
	width: 100%;
	display: block;
}

h1,
h2,
h3 {
	font-family: $myFont;
	text-align: center;
}

h1 {
	font-size: 3rem;
	font-weight: 900;
	font-style: normal;
	line-height: 150%;
}

h2 {
	font-size: 2.5rem;
	font-weight: bolder;
	line-height: 150%;
}

h3 {
	font-size: 1.7rem;
	font-weight: bolder;
	line-height: 150%;
}

h4 {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 150%;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: normal;
	font-style: normal;
	line-height: 150%;
	letter-spacing: 0.05em;
}

button {
	font-family: $myFont;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: 0.08em;
}

.overline {
	font-size: 1rem;
	font-weight: bold;
	color: rgba($color: #000000, $alpha: 0.6);
	letter-spacing: 0.4em;
}

.light-theme {
	background: $linear-bg-light;
}

.dark-theme {
	background: $linear-bg-dark;
}

//Hero animation

.process-steps-container {
	.process-step-container {
		.process-step-title-container {
			margin-top: -9px; //To adjust for the line-height
			position: relative;

			.step-title-outprocess,
			.step-title-outprocess-overlay {
				font-size: 1.8rem;
				font-weight: 400;
				margin: 0;
				line-height: 150%; //If too short, g might get cut off
				letter-spacing: 0;
				color: $color-maincolors-dark-1;
				text-align: left;
			}

			.process-step-title,
			.process-step-title-overlay {
				font-family: $secondaryFont;
				font-size: 1.7rem;
				font-weight: 600;
				margin: 0;
				line-height: 150%; //If too short, g might get cut off
				letter-spacing: 0;
				color: $color-maincolors-dark-1;
				text-align: left;

				@include tablet {
					font-size: 6rem;
				}

				@include desktop {
					font-size: 7rem;
				}
			}

			.step-title-outprocess-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				padding-right: 0px; //Adding some space on the right otherwise gradient may be cut off depending on the font.
				height: 100%;
				opacity: 1;
			}

			.process-step-title-overlay {
				/*position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				
				padding-right: 0px; //Adding some space on the right otherwise gradient may be cut off depending on the font.
				height: 100%;
				opacity: 1;*/
				width: 100%;
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
				background-clip: text;
			}
		}

		&.process-step-1 {
			.process-step-title-overlay {
				background-image: linear-gradient(90deg,
						$color-maincolors-first,
						$color-maincolors-second);
				animation: animated-gradient-title-1 8s infinite;
			}
		}

		&.process-step-2 {
			.process-step-title-overlay {
				background-image: $linear-sunshine;
				animation: animated-gradient-title-2 8s infinite;
			}
		}

		&.process-step-3 {
			.process-step-title-overlay {
				background-image: $linear-third;
				animation: animated-gradient-title-3 8s infinite;
			}
		}
	}
}

@keyframes animated-gradient-title-1 {

	0%,
	16.667%,
	100% {
		opacity: 1;
	}

	33.333%,
	83.333% {
		opacity: 0;
	}
}

@keyframes animated-gradient-title-2 {

	0%,
	16.667%,
	66.667%,
	100% {
		opacity: 0;
	}

	33.333%,
	50% {
		opacity: 1;
	}
}

@keyframes animated-gradient-title-3 {

	0%,
	50%,
	100% {
		opacity: 0;
	}

	66.667%,
	83.333% {
		opacity: 1;
	}
}

/* Botones */

.btn {
	display: block;
	font-family: $secondaryFont;
	width: 75%;
	margin: 0 auto;
	padding: 1rem;
	line-height: 100%;
	@include effect-style-main-shadow;
	border-radius: 1rem;
	transition: all 0.2s ease-in-out;
	outline: thin;
	border: none;
	cursor: pointer;

	&:hover {
		@include desktop {
			transform: scale(1.05);
		}
	}

	&:active {
		transform: translateY(0.2rem);
	}
}

.btn-contact {
	background: $linear-bg-dark;
	color: white;
}

.btn-brand {
	background: $linear-brand;
	color: white;
}

.btn-positive {
	background: $color-maincolors-first;
	color: white;

	a {
		color: white;
	}
}

.btn-sutil {
	position: relative;
	border-radius: 0;
	box-shadow: none;
	color: $color-maincolors-sutil;
	transition: all 0.3s ease-in-out;
	font-size: 1.5rem;
	padding: 0.4rem 0;
	border: none;
	background-color: transparent;

	&::after {
		background-color: transparent;
		content: '';
		width: 40%;
		position: absolute;
		left: 30%;
		bottom: 1px;
		border-width: 0 0 1px;
		border-style: solid;
		border-color: transparent;
		transition: 0.5s all;
	}

	&:hover &::after {
		border-color: $color-maincolors-sutil;
	}
}

.btn-out {
	@include desktop {
		width: 30%;
	}
}

.btn-darkmode {
	width: 10%;
	height: 75%;
	position: absolute;
	right: -6rem;
	top: 0.5rem;
}

.btn-dark {
	background: $linear-bg-dark;
}

.btn-light {
	background: $linear-bg-light;
}

/* gradients svgs*/

.theme-light {
	fill: $color-maincolors-white;
	background: $color-maincolors-white;
	color: $color-maincolors-dark-1;
}

.theme-dark {
	fill: $color-maincolors-white;
	background: $linear-bg-dark;
	color: white;
}

.text-web {
	background: transparent;
}