@import 'Base/mixins';
@import 'Base/variables';

.mainContact {
    background-color: $color-maincolors-second;
    height: 100%;
    padding-bottom: 10rem;
    padding-top: 5rem;

    @include desktop {
        height: 100vh;
        padding-bottom: 1rem;
    }
}

.contactContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 7rem;

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
    }
}

.contactParraf {
    width: 100%;

    @include desktop {
        width: 65%;
        display: flex;
        align-items: center;
    }

    .textContent {
        width: 100%;

        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;
        }

        .svgLineContainer {
            display: flex;
            flex-direction: row;
            justify-content: left;
            width: 100%;
            margin: 1rem 0;
        }

        .faceContainer {
            display: flex;
            flex-direction: row;
            justify-content: left;
            width: 100%;
            margin-top: 1rem;
        }
    }

    h2 {
        text-align: left;
        color: $color-maincolors-white;
        font-size: 5rem;
        line-height: 4.5rem;
    }

    span {
        text-align: left;
    }

    p {
        text-align: left;
        color: $color-maincolors-white;
    }

}

.formContainer {
    width: 100%;

    @include desktop {
        width: 45%;
    }
}