@import 'Base/mixins';
@import 'Base/variables';

.footer {
	text-align: left;
	padding-top: 1rem;
	background-color: $color-maincolors-second;
	margin-top: 1.5rem;
	color: white;

	button {
		margin-top: 1rem;
	}

	h3 {
		margin-top: 1rem;
		text-align: left;
	}
}

.spanF {
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
	display: block;
}

.footSocial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	width: 100%;
	margin-top: 1rem;

	a {
		transition: all 0.5s;

		svg {
			width: 40px;
			height: 40px;
			transition: all 0.5s;
		}

		&:hover svg {
			opacity: 0.7;
		}
	}

	ul {
		list-style: none;
		font-size: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		li {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5rem;

			i {
				font-size: 2rem;
			}
		}
	}
}

.footerCopy {
	width: 100%;
	background: $linear-brand;
	color: #fff;
	margin-top: 2rem;

	h4 {
		padding: 1rem 0;
		text-align: center;

		a {
			text-decoration: underline;
			font-weight: 200;
			color: white;
			transition: 0.5s;
		}

		a:hover {
			color: $color-maincolors-first;
		}
	}

	svg {
		width: 32px;
		height: 32px;
		padding-top: 0.3rem;

		path {
			fill: $color-maincolors-white  !important;
		}
	}
}