@import 'Base/variables';
@import 'Base/mixins';

.hero {
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask7911%26quot%3b)' fill='none'%3e%3crect width='271.6' height='271.6' clip-path='url(%26quot%3b%23SvgjsClipPath7912%26quot%3b)' x='646.69' y='15.14' fill='url(%23SvgjsPattern7913)' transform='rotate(189.88%2c 782.49%2c 150.94)'%3e%3c/rect%3e%3crect width='133.6' height='133.6' clip-path='url(%26quot%3b%23SvgjsClipPath7914%26quot%3b)' x='-16.59' y='168.83' fill='url(%23SvgjsPattern7915)' transform='rotate(63.09%2c 50.21%2c 235.63)'%3e%3c/rect%3e%3cpath d='M1190.64 939.58a5.6 5.6 0 1 0 10.43-4.08 5.6 5.6 0 1 0-10.43 4.08zM1205.54 933.75a5.6 5.6 0 1 0 10.43-4.09 5.6 5.6 0 1 0-10.43 4.09zM1220.44 927.91a5.6 5.6 0 1 0 10.43-4.09 5.6 5.6 0 1 0-10.43 4.09zM1235.33 922.07a5.6 5.6 0 1 0 10.43-4.08 5.6 5.6 0 1 0-10.43 4.08zM1166.68 966.15a5.6 5.6 0 1 0 10.43-4.09 5.6 5.6 0 1 0-10.43 4.09zM1181.58 960.31a5.6 5.6 0 1 0 10.43-4.08 5.6 5.6 0 1 0-10.43 4.08zM1196.48 954.48a5.6 5.6 0 1 0 10.43-4.09 5.6 5.6 0 1 0-10.43 4.09zM1211.37 948.64a5.6 5.6 0 1 0 10.43-4.08 5.6 5.6 0 1 0-10.43 4.08zM1142.72 992.72a5.6 5.6 0 1 0 10.43-4.09 5.6 5.6 0 1 0-10.43 4.09zM1157.62 986.88a5.6 5.6 0 1 0 10.43-4.08 5.6 5.6 0 1 0-10.43 4.08zM1172.52 981.05a5.6 5.6 0 1 0 10.42-4.09 5.6 5.6 0 1 0-10.42 4.09zM1187.41 975.21a5.6 5.6 0 1 0 10.43-4.08 5.6 5.6 0 1 0-10.43 4.08z' fill='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3cpath d='M1064.02 255.29 L1007.11 530.78L846.8851984620708 204.35519846207075z' stroke='rgba(51%2c 51%2c 102%2c 1)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M557.91 633.35L550.09 643.49 538.48 638.08 530.66 648.22 519.05 642.82 511.23 652.96 499.62 647.56M556.02 625.57L548.2 635.71 536.59 630.31 528.77 640.45 517.16 635.05 509.34 645.19 497.73 639.78' stroke='rgba(222%2c 21%2c 77%2c 1)' stroke-width='2.12' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3crect width='504' height='504' clip-path='url(%26quot%3b%23SvgjsClipPath7916%26quot%3b)' x='-200.02' y='349.19' fill='url(%23SvgjsPattern7917)' transform='rotate(210.36%2c 51.98%2c 601.19)'%3e%3c/rect%3e%3cpath d='M1596.68 1193.65 L1388.33 906.5400000000001L1628.53863527383 914.0613647261702z' fill='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask7911'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='271.6' height='9.7' patternUnits='userSpaceOnUse' id='SvgjsPattern7913'%3e%3crect width='271.6' height='4.85' x='0' y='0' fill='rgba(51%2c 51%2c 102%2c 1)'%3e%3c/rect%3e%3crect width='271.6' height='4.85' x='0' y='4.85' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath7912'%3e%3ccircle r='67.9' cx='782.49' cy='150.94'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='133.6' height='13.36' patternUnits='userSpaceOnUse' id='SvgjsPattern7915'%3e%3crect width='133.6' height='6.68' x='0' y='0' fill='rgba(107%2c 90%2c 233%2c 1)'%3e%3c/rect%3e%3crect width='133.6' height='6.68' x='0' y='6.68' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath7914'%3e%3ccircle r='33.4' cx='50.21' cy='235.63'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern7917'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(222%2c 21%2c 77%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath7916'%3e%3ccircle r='126' cx='51.98' cy='601.19'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
	background-size: cover;
	background-position: top;
}

.containerHero {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.heroLeft {
	width: 100%;
	position: relative;

	@include desktop {
		width: 100%;
	}
}

.intro {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: left;

	h3 {
		height: 100%;
		padding: 1.5rem 0;
		line-height: 150%;
		text-align: left;
		font-size: 2.2rem;

		@include tablet {
			font-size: 4rem;
		}
	}
}


.buttonsGroup {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@include tablet {
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
	}

	a {
		display: block;
		width: 100%;

		@include tablet {
			width: fit-content;
		}
	}
}

.socialButtom {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	@include effect-style-main-shadow;
	border-radius: 50px;
	align-items: center;
	z-index: 120;
	background-color: white;
	gap: 1rem;
	width: fit-content;
	padding: 0.5rem 0.8rem;

	a {
		font-size: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000;
		transition: opacity 0.5s;

		&:hover {
			opacity: 0.6;
		}
	}
}

.heroRight {
	display: none;
	width: 40%;
	position: absolute;
	right: 5%;
	top: 15%;

	@include desktop {
		display: block;
	}

	.imageProfile {
		width: 125%;
		top: 12rem;
		right: 3rem;
		z-index: 1;
		filter: grayscale(1);
		transition: filter 0.5s ease-in-out;

		&:hover {
			filter: grayscale(0);
		}

		@include desktop-l {
			right: 2rem;
			top: 0;
		}

		@include desktop-xl {
			right: 3rem;
		}

		@include desktop-fhd {
			right: 10rem;
		}
	}
}



@keyframes animateDotsHero {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}

	0% {
		transform: rotate(0);
	}
}