@import 'Base/variables';
@import 'Base/mixins';

.hero {
	width: 100%;
	position: relative;
}

.intro {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 10rem;

	h3 {
		height: 100%;
		padding: 0;
		line-height: 150%;
	}
}

.buttonsGroup {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	@include tablet {
		flex-direction: row;
		justify-content: center;
		& a {
			width: 15rem;
		}
	}

	@include desktop {
		justify-content: center;

		& a {
			width: 15rem;
		}
	}
}

.particle {
	position: absolute;
}

.dotsContainer {
	left: 8rem;
	top: 35rem;
	position: absolute;
	z-index: -1;
	display: none;
	@include desktop {
		display: initial;
	}
}

.circleContainer {
	position: absolute;
	z-index: -1;
	left: 15rem;
	top: 7rem;
	display: none;
	@include desktop {
		display: initial;
	}
}

.triangleContainer {
	position: absolute;
	z-index: -1;
	right: 5rem;
	top: 18rem;
	display: none;
	@include desktop {
		display: initial;
	}
}

/*

@keyframes animatedGradient {
	0%,
	16.667%,
	to {
		opacity: 1;
	}

	33.333%,
	83.333% {
		opacity: 0;
	}
}
*/
