@import 'Base/mixins';
@import 'Base/variables';

.projectMain {
	padding-top: 10rem;
}

.secondSectionWithBack {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3cpath d='M434.87 810.12L441.53 810.12L441.53 816.78L434.87 816.78z' fill='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3cpath d='M637.76 520.66a63.8 63.8 0 1 0-102.29-76.28z' fill='rgba(51%2c 51%2c 102%2c 1)'%3e%3c/path%3e%3cpath d='M222.06 493.52L294.26 493.52L294.26 565.72L222.06 565.72z' fill='rgba(51%2c 51%2c 102%2c 1)'%3e%3c/path%3e%3cpath d='M1035.38 676.42L1112.16 676.42L1112.16 770.37L1035.38 770.37z' fill='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3cpath d='M231.73 333.92a99.66 99.66 0 1 0-196.27 34.74z' fill='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3cpath d='M262.91 948.67L307.1 948.67L307.1 992.86L262.91 992.86z' stroke='rgba(153%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M820.38 90.17 a72.93 72.93 0 1 0 145.86 0 a72.93 72.93 0 1 0 -145.86 0z' stroke='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3cpath d='M148.2 756.39a54.37 54.37 0 1 0-4.61-108.64z' fill='rgba(51%2c 51%2c 102%2c 1)'%3e%3c/path%3e%3cpath d='M839.07 476.48L899.32 476.48L899.32 536.73L839.07 536.73z' fill='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3cpath d='M759.73 444.18 a38.35 38.35 0 1 0 76.7 0 a38.35 38.35 0 1 0 -76.7 0z' stroke='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3cpath d='M720.15 148.61L818.94 148.61L818.94 244.67L720.15 244.67z' fill='rgba(51%2c 51%2c 102%2c 1)'%3e%3c/path%3e%3cpath d='M972.7 886.54L1019.3 886.54L1019.3 933.14L972.7 933.14z' fill='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3cpath d='M272.29 877.34L313.44 877.34L313.44 917.56L272.29 917.56z' fill='rgba(153%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1419.1 835.34 a3.12 3.12 0 1 0 6.24 0 a3.12 3.12 0 1 0 -6.24 0z' fill='rgba(51%2c 51%2c 102%2c 1)'%3e%3c/path%3e%3cpath d='M692.65 861.66a71.95 71.95 0 1 0 139.7 34.5z' stroke='rgba(153%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1363.91 151.84L1381.03 151.84L1381.03 232.63L1363.91 232.63z' fill='rgba(51%2c 51%2c 102%2c 1)'%3e%3c/path%3e%3cpath d='M984.83 117.55L1008.22 117.55L1008.22 140.94L984.83 140.94z' stroke='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3cpath d='M1206.71 174.01a1.01 1.01 0 1 0-0.34-1.99z' fill='rgba(222%2c 21%2c 77%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	background-size: cover;
}

.projects {
	width: 90%;
	margin: 0 auto;
	padding-top: 2rem;
	text-align: center;
	position: relative;
	padding-bottom: 4rem;

	h2 {
		text-align: left;
		font-size: 3rem;

		@include tablet {
			font-size: 6rem;
		}
	}

	.buttonContent {
		padding: 2rem 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
}

.contentProjects {
	position: relative;
	padding-top: 3rem;
}

.cardContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1.5rem;
	padding: 1rem 0;

	@include desktop {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
		row-gap: 2rem;
	}
}


@keyframes opacityFlecha {
	0% {
		opacity: 0;
		transform: translateX(0);
	}

	50% {
		opacity: 1;
		transform: translateX(-2rem);
	}

	100% {
		opacity: 0;
		transform: translateX(0rem);
	}
}