@import 'Base/mixins';
@import 'Base/variables';

.services {
	width: 100%;
	position: relative;

	h2 {
		font-size: 5rem;
		padding-bottom: 3rem;
		text-align: left;
	}

	@include desktop {
		width: 100%;
		margin: 0 auto;
	}

	.tools {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		gap: 1.5rem;

		@include tablet {
			grid-template-columns: repeat(5, 1fr);
			gap: 1.4rem;
		}

		@include desktop {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			gap: 2rem;
		}

		.tool {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			gap: 1rem;

			span {
				font-size: 1.2rem;
				font-weight: 600;

				@include desktop {
					font-size: 1.5rem;
				}
			}

			@include tablet {
				flex-direction: row;
				flex-wrap: wrap;
			}

			@include desktop {
				flex-wrap: nowrap;
				gap: 0.7rem
			}
		}
	}
}



.containerIcon {
	font-size: 100px;
	height: 100%;
	display: flex;
	align-items: center;
}

.cards {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;

	@include desktop {
		flex-direction: row;
	}
}

.card {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: $linear-bg-light;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	padding: 4rem 0;
	color: $color-maincolors-white;

	@include desktop {
		padding: 2rem 0;
	}

	svg {
		width: 100%;
	}

	.contentCardContainer {
		width: 90%;
		margin: 0 auto;
	}

	@include desktop {
		width: 33.33%;
		margin: 0 auto;
	}
}

.headerCardContainer {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;


	.titleContent {
		width: min-intrinsic;
		width: -webkit-min-content;
		width: -moz-min-content;
		width: min-content;
		display: table-caption;
		display: -ms-grid;
		-ms-grid-columns: min-content;
		margin-left: 0.5rem;

		@include desktop {
			margin-left: 0.1rem;
		}

		h3 {
			word-spacing: 100%;
			text-align: left;


			@include desktop {
				font-size: 1.6rem;
			}
		}
	}
}

.cardDev {
	background: $linear-primary;
}

.cardDesign {
	background: $linear-brand;
}

.cardResponsive {
	background: $linear-secondary;
}

.infoContent {
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 0;

	p {
		color: $color-maincolors-white;
		text-align: left;

		@include desktop {
			font-size: 1.3rem;
		}
	}

	@include desktop {
		margin-top: 0.5rem;
	}
}

.lineContainer {
	left: 10rem;
	top: 20rem;
	position: absolute;
	z-index: -1;
	display: none;

	@include desktop {
		display: initial;
	}
}

.dotsContainer {
	position: absolute;
	z-index: -1;
	right: 2rem;
	top: 20rem;
	display: none;

	@include desktop {
		display: initial;
	}
}