@import 'Base/mixins';
@import 'Base/variables';

.containerWork {
	width: 100%;
}

.services {
	width: 100%;
	padding-top: 5rem;
	position: relative;
}

.containerIcon {
	font-size: 100px;
	height: 100%;
	display: flex;
	align-items: center;
}

.cards {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;

	@include desktop {
		flex-direction: row;
	}
}

.card {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: $linear-bg-light;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	padding: 4rem 0;
	color: $color-maincolors-white;

	svg {
		width: 100%;
	}

	.contentCardContainer {
		width: 90%;
		margin: 0 auto;
	}
}

.headerCardContainer {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

	.titleContent {
		width: min-intrinsic;
		width: -webkit-min-content;
		width: -moz-min-content;
		width: min-content;
		display: table-caption;
		display: -ms-grid;
		-ms-grid-columns: min-content;
		margin-left: 0.5rem;

		h3 {
			word-spacing: 100%;
			text-align: left;
		}
	}
}

.cardDev {
	background: $linear-primary;
}

.cardDesign {
	background: $linear-brand;
}

.cardResponsive {
	background: $linear-secondary;
}

.infoContent {
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 0;

	p {
		color: $color-maincolors-white;
		text-align: left;
	}
}

.lineContainer {
	left: 10rem;
	top: 20rem;
	position: absolute;
	z-index: -1;
	display: none;

	@include desktop {
		display: initial;
	}
}

.dotsContainer {
	position: absolute;
	z-index: -1;
	right: 2rem;
	top: 20rem;
	display: none;

	@include desktop {
		display: initial;
	}
}