@import 'Base/mixins';
@import 'Base/variables';

.containerWork {
	width: 100%;
}

.services {
	width: 100%;
	padding-top: 5rem;
	position: relative;
}

.cards {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;

	@include tablet {
		flex-direction: row;
	}
}

.card {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: $linear-bg-light;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	padding: 4rem 0;
	border-radius: 1rem;

	svg {
		width: 100%;
	}
}

.infoContent {
	width: 95%;
	margin: 0 auto;
}

.lineContainer {
	left: 10rem;
	top: 20rem;
	position: absolute;
	z-index: -1;
	display: none;

	@include desktop {
		display: initial;
	}
}

.dotsContainer {
	position: absolute;
	z-index: -1;
	right: 2rem;
	top: 20rem;
	display: none;

	@include desktop {
		display: initial;
	}
}