@import 'Base/mixins';
@import 'Base/variables';

.techSection {
	width: 100%;
	padding-top: 4rem;
	margin-bottom: 1rem;
	position: relative;
	background-color: $color-maincolors-neutro;

	h2 {
		margin-bottom: 4rem;
	}

	h3 {
		margin: 1rem 0;
	}

	@include desktop {
		padding-top: 2rem;
	}
}

.tecsContainer {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	position: relative;
	background-color: transparent;

	.skills {
		width: 100%;

		h2 {
			color: $color-maincolors-white;
			font-size: 4rem;
			text-align: left;

			@include desktop {
				font-size: 6rem;
			}
		}

		@include desktop {
			width: 70%;
		}

		.skillscontainer {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 3rem;
			grid-template-rows: repeat(1, 1fr);

			@include tablet {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
			}

			.skillContent {
				width: 100%;
				color: $color-maincolors-white;

				h3 {
					text-align: left;
					font-size: 3rem;
				}

				p {
					color: $color-maincolors-white;
				}
			}
		}
	}
}

.imageTecs {
	position: relative;

	.imageContainerTechRobot {
		display: none;
		position: absolute;
		width: 1020px;
		height: 800px;
		right: -600px;
		top: 18%;

		@include desktop {
			display: block;
			z-index: 10;

			img {
				z-index: 0;
			}
		}
	}

	.imageSector {
		width: 650px;
		height: 650px;
		background-color: $color-maincolors-first;
		position: absolute;
		right: -400px;
		top: -32%;
		display: none;
		z-index: 1;

		@include desktop {
			display: block;
		}
	}

}


.flexOther {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1.5rem;
	margin-top: 1rem;
	text-align: center;
}