@import 'Base/mixins';
@import 'Base/variables';

.sectionWorks {
    width: 100%;
    background-color: $color-maincolors-neutro;
    height: 100%;

    @include desktop {
        margin-top: 15rem;
    }
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-maincolors-white;
    padding-top: 2rem;

    @include desktop {
        padding-top: 15rem;
    }

    h2 {
        width: 60%;
        text-align: left;
    }
}

.workedSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.worksContainer {
    width: 100%;

    @include desktop {
        width: 45%;
    }
}

.toggleWorkPlaces {
    height: 100%;
    margin-top: 2rem;
    padding-bottom: 8rem;

    @include desktop {
        padding-bottom: unset;
    }

    .toggleHeader {
        position: relative;
        background-color: $color-maincolors-white;
        color: $color-maincolors-dark-1;
        width: 100%;
        z-index: 2;
        border: 0.5px solid transparent;

        .toggleHedContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 95%;
            padding: 0.5rem 0;
            margin: 0 auto;
        }


        button {
            padding: 1rem 0;
            width: 15%;
            margin: 0;
            color: $color-maincolors-dark-1;
        }

        h3 {
            height: 2rem;
            width: 100%;
            text-align: left;
        }
    }

    .toggleContent {
        position: relative;
        border-radius: 0 0 25px 25px;
        background-color: $color-maincolors-white;
        color: $color-maincolors-dark-1;
        display: flex;
        flex-direction: column;
        //transform: translateY(-100%);
        z-index: 1;
        transition: 0.3s all;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }

    .openedToggle {
        //transform: translateY(0) !important;
        height: 82%;
        opacity: 1;
    }
}

.toggleItem {
    color: $color-maincolors-dark-1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    align-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    gap: 0.5rem;
    padding: 0.5rem 0;
    text-align: left;

    h4 {
        height: min-content;
        text-align: left;
        width: 100%;
    }

    p {
        width: 100%;
        color: $color-maincolors-dark-1;
        font-size: 1.3rem;
        font-weight: 300;
    }
}

.workImageContainer {
    display: none;

    @include desktop {
        display: block;
        padding-bottom: 5rem;
    }
}